<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #EBF5FB;
  }
</style>
<div class="container">
  <div class="row">
    <div class="authform quizwidth quizdetails" style='padding-bottom:20px;'>
      <b style='margin-left:15px;'>Quiz Summary</b> for <%= current_user.name %>
    </div>
    <br>
    <center>
      <% if @quiz.empty? %>
        <p class = "positive-review"><b>You have not taken any quiz yet.</b></p>
      <% else %>
        <div>
          <table class="table">
            <tbody>
              <tr>
                <td><b>Category</td>
                <td><b>Quiz Name</td>
                <td><b>Number of Questions</td>
                <td><b>Score</td>
                <td><b>Review</td> 
              </tr>
              <% @quiz.each do |quiz| %>
                <tr>
                  <td><%= quiz.category.try(:name).nil? ? "All Categories" : quiz.category.try(:name) %></td>
                  <td><%= quiz.name %></td>
                  <td><%= quiz.user_inputs.count %></td>
                  <td><%= quiz.user_inputs.where(correct_answer: true).count %></td>
                  <td>
                    <%= link_to quiz_review_path(quiz.id) do %>
                      <span class="glyphicon glyphicon-search"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </center>
  </div>
</div>
