<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<div class="container">
  <div class="row">
    <center>
      <h3>Quiz Summary</h3>
      <div>
        <table class="table">
          <tbody>
            <tr>
              <td>Category</td>
              <td>Quiz Name</td>
              <td>Number of Questions</td>
              <td>Score</td>
              <td>Review</td> 
            </tr>
            <% @quiz.each do |quiz| %>
              <tr>
                <td><%= quiz.category.name %></td>
                <td><%= quiz.name %></td>
                <td><%= quiz.user_inputs.count %></td>
                <td><%= quiz.user_inputs.where(correct_answer: true).count %></td>
                <td><%= link_to "Review Quiz", quiz_review_path(quiz.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </center>
  </div>
</div>
