<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #ABB2B9;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #EBF5FB;
  }
</style>
<div class="container">
  <div class="row">
    <div class="authform quizwidth quizdetails" style='padding-bottom:20px;'>
      <b style='margin-left:15px;'>Question Summary</b> for <%= current_user.name %>
    </div>
    <br>
    <center>
      <div>
        <table class="table">
          <tbody>
            <tr>
              <td><b>Category</td>
              <td><b>Total Questions</td>
              <td><b>Questions answered</td>
              <td><b>Correct Answers</td>
              <td><b>Incorrect Answers</td>
              <td><b>Questions remaining</td>
            </tr>
            <tr style="background-color: #99ccff">
              <% total = Question.count %>
              <% user_total = current_user.user_inputs %>
              <td>All Categories</td>
              <td><%= total %></td>
              <td><%= user_total.count %></td>
              <td><%= user_total.correct_answers.count %></td>
              <td><%= user_total.incorrect_answers.count %></td>
              <td><%= total - user_total.count %></td>
            <tr>
            <% @categories.each do |category| %>
              <tr>
                <% category_total = category.questions.count %>
                <% user_category_total = current_user.user_inputs.where(question: category.questions) %>
                <td><%= category.name %></td>
                <td><%= category.questions.count %></td>
                <td><%= user_category_total.count %></td>
                <td><%= user_category_total.correct_answers.count %></td>
                <td><%= user_category_total.incorrect_answers.count %></td>
                <td><%= category_total - user_category_total.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </center>
    <div class="authform quizwidth quizdetails" style='padding-bottom:20px;'>
      <b style='margin-left:15px;'>Progress </b> for <%= current_user.name %>
    </div>
    <% cls, text = current_user.calculate_progress %>
    <div class="authform quizwidth quizdetails" style='padding-bottom:25px;background-color:#FDEDEC;'>
      <b style='color:#C0392B; margin-left:15px;'><%= text %></b>
    </div>
  </div>
</div>
